* {
    box-sizing: border-box;
}

body {
    background-color: hsl(30, 38%, 92%);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    max-width: 600px;
    max-height: 100%;
    background-color: white;
    border-radius: 25px;
    display: flex;
    padding: 0;
}

.image {
    width: 50%;
    height: 100%;
    padding: 0%;
    margin: 0;
}

img {
    max-inline-size: 100%;
    max-block-size: 100%;
    border-radius: 4% 0 0 4%;
    padding: 0;
}

.description {
    width: 50%;
    padding: 20px;
    margin: 0;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

#price {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#sale-price {
    font-family: 'Fraunces', serif;
    font-size: 28px;
    color: hsl(158, 36%, 37%)
}

#reg-price {
    text-decoration: line-through;
}

div.add-to-cart {
    display: flex;
    justify-content: center; 
}

button {
    width: 237px;
    height: 50px;
    color: white;
    background-color:hsl(158, 36%, 37%);
    border-radius: 5%;
    border: none;
}

h1 {
    font-family: 'Fraunces', serif;
    margin: 0;
}
.description {
    margin-left: 10px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}